<div class="animated fadeIn fast">
  <div class="header">
      <img src="../../../assets/imagenes/img-princ.jpg" alt="">
      <div class="slogan">
          <h1><span class="capitalLeter">T</span>uris<span class="capitalLeter">T</span>eando</h1>
          <p>Tu vida es una aventura, disfrútala como tal</p>
      </div>
  </div>
  <div class="main">
      <div class="welcome">
          <h2>BIENVENIDOS</h2>
          <p>Bienvenidos a TurisTeando, el sitio perfecto para encontrar tus destinos favoritos y lugares que nunca habías visitado. La aventura y nuevos recuerdos al alcance de dos clicks</p>
      </div>
      <div class="servicios">
          <h2>SERVICIOS</h2>
          <div class="services">
              <p class="icon">
                  <span class="fa fa-wechat"></span>
              </p>
              <h3>Chatbot</h3>
              <p class="segp">Un asistente virtual para ayudarte con tus consultas</p>
          </div>
          <div class="services">
              <p class="icon">
                  <span class="fa fa-map-o"></span>
              </p>
              <h3>Rutas</h3>
              <p class="segp">Lugares ofrecidos para que armes tu mejor plan de aventura</p>
          </div>
          <div class="services">
              <p class="icon">
                  <span class="fa fa-star"></span>
              </p>
              <h3>Calidad</h3>
              <p class="segp">Información de calidad, precisa y simple de atender</p>
          </div>
          <div class="services">
              <p class="icon">
                  <span class="fa fa-plane"></span>
              </p>
              <h3>Detalles</h3>
              <p class="segp">Los detalles importan, para que tu viaje se convierta en una aventura inolvidable</p>
          </div>
      </div>


      <div class="producto">
          <div class="producto__item">
              <img src="../../../assets/imagenes/imgHome7.jpg" alt="">
              <p>Restaurantes</p>
          </div>
          <div class="producto__item">
                  <img src="../../../assets/imagenes/imgHome8.jpg" alt="">
              <p>Museos</p>
          </div>
          <div class="producto__item">
                  <img src="../../../assets/imagenes/imgHome5.jpg" alt="">
              <p>Tradiciones</p>
          </div>
          <div class="producto__item">
                  <img src="../../../assets/imagenes/imgHome6.jpg" alt="">
              <p>Festivales</p>
          </div>

      </div>
  </div>



  <div class="footer">

      <div class="footer__item aboutFooter">
          <h3>Sobre nosotros</h3>
          <p>Somos TurisTeando, encargados de darle a tu viaje una pizca de aventura basados en lugares que nunca antes habías visitado ni escuchado.</p>
      </div>

      <div class="footer__item socialFooter">
          <h3>Social</h3>
          <div>
              <a href="#">
                  <span class="fa fa-facebook"></span>
              </a>
              <a href="#">
                  <span class="fa fa-pinterest-p"></span>
              </a>
              <a href="#">
                  <span class="fa fa-twitter"></span>
              </a>
              <a href="#">
                  <span class="fa fa-youtube-play"></span>
              </a>
          </div>
      </div>

      <div class="footer__item contactoFooter">
          <h3>Contacto</h3>
          <div class="contac__item">
              <p class="title">
                  <span class="fa fa-phone"></span> Teléfono</p>
              <p>293 - 1760</p>
          </div>
          <div class="contac__item">
              <p class="title">
                  <span class="fa fa-map-marker"></span> Teléfono</p>
              <p>Jr. Gardenias 176 - San Borja</p>
          </div>
          <div class="contac__item">
              <p class="title">
                  <span class="fa fa-envelope"></span> Correo</p>
              <p>TurisTeando@gmail.com</p>
          </div>
      </div>

  </div>
</div>