@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gloria+Hallelujah|Indie+Flower|Lobster|Pacifico|Roboto+Slab|Satisfy');
.header{
    width:100%;
    max-width: 1380px;
    margin:0 auto;
    height: 700px;
    position: relative;
}

.header img{
    width: 100%;
    height:100%;
}
.header img:after{
    content:"asdas";
}

.slogan{
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white; 
    /* background: rgba(0,0,0,0.7); */  
    padding:10px;
    border: 5px solid white;
}
.slogan h1{
    font-size: 4em;
text-align: center;
/* color: #c21d1d; */ 
font-family: Satisfy;
color: #0ea972;        
  
}
.capitalLeter{
    display: inline-block;
    text-decoration: underline;
    color:#eca117;
}
.slogan p{
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 15px 0;
    text-align: center;
    /* color: #c21d1d; */
    font-size: 20px;
    color: #eca117;
    font-weight: bolder;
    font-family: Indie Flower;

}




.main{
    width: 90%;
    max-width: 1380px;
    margin: 0 auto;
    
}

.main .welcome{
    margin:100px auto 40px auto;
}

.main .welcome h2{
    text-align: center;
    position: relative;
    padding-top: 30px;
    font-family: 'Oxygen' ;
}

.main .welcome h2:before{
    content:"";
    position: absolute;
    top:0;   
    width:40%;
    left:30%;
    height: 4px;
    background: red;
}

.main .welcome p{
    width: 60%;
    text-align: center;
    margin:30px auto;
    /* color:rgb(146, 146, 144); */
    color: #0c3d95;
    font-size: 1.5em;
    font-family: 'Dancing Script';
}



.main .servicios {
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:40px;
}
.main .servicios h2{
    text-align: center;
    width: 100%;    
    padding:25px 0;
    font-family: 'Oxygen';
}
.main .servicios .services{
    width: 20%;    
    border-top:2px solid rgb(179, 170, 170);
    border-right: 2px solid rgb(179, 170, 170);
    border-bottom: 2px solid rgb(179, 170, 170);
    position: relative;
}
.main .servicios .services:before,
.main .servicios .services:after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:6px;
    height:100%;
    background:#18a3a3;
    transition: .4s;
}

.main .servicios .services:hover:before{
    left:100%;
    
}
.main .servicios .services:hover .icon{
    transform: scale(1.5);
    color: #20364c;
}

.main .servicios .services .icon{
    text-align: center;
    font-size: 30px;
    width:30%;
    margin: 20px auto;
    border-radius: 50%;
    padding:10px;
    transition: .4s;
}
.main .servicios .services h3{
    text-align: center;
    font-family: 'Satisfy';
}

.main .servicios .services .segp{
    margin:20px auto;
    text-align:center;
    padding:20px 10px;
    font-family: 'Kalam';
}





.footer{
    width:100%;
    margin:0 auto;
    max-width: 1380px;
    display: flex;
    justify-content: space-around;
    /* background: #373737; */

    /* background: #101010; */
    background: #232323;
    padding:8px 0;
}

.footer>div{
    width: 20%;
    text-align: center;

}
.footer>div:nth-child(0n+3){
    width: 50%;
    
}

.footer div h3{
    text-align: center;
    font-weight: bolder;
    color:white;
}

.footer div p{
    margin-top : 15px;
    margin-bottom: 10px;
}

.aboutFooter p{
    color:rgb(191, 182, 166);
    font-size: 0.8em;
}
.socialFooter div{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.socialFooter div a{
    text-decoration: none;
    color:white;
    margin:0 10px;
    padding:6px 8px;
    border:1px solid white;
}
.socialFooter div a:nth-child(0n+1){background: #3b5998}
.socialFooter div a:nth-child(0n+2){background: #cb2027}
.socialFooter div a:nth-child(0n+3){background: #55acee}
.socialFooter div a:nth-child(0n+4){background: #bb0000}


.contactoFooter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.9em;
    color:white;
}
.contactoFooter h3{
    width:100%;
    text-align: center;
}
.contactoFooter >div{
    width:165px;
    background: #101010;
    margin:0 5px;
}
.contactoFooter div p:nth-child(0n+1) span,
.contactoFooter div p:nth-child(0n+2) span,
.contactoFooter div p:nth-child(0n+3) span{
    margin-right: 8px;
}


.contactoFooter div p:nth-child(2n){
    color:rgb(191, 182, 166);
}



/*********/


.producto{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:40px;
    margin-bottom: 40px;    
}

.producto__item{
    width:50%;
    position: relative;
    transition: 2s;
} 
.producto__item img{
    display: block;
    width:100%;
    height:400px;
   
}

.producto__item:before{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    background: rgba(0,0,0,0.5);
    width:0px;
    height:0px;
    transition: .7s;
}
.producto__item:hover:before{
    height:100%;
    width:100%;
}


.producto__item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    font-size: 2em;
    color:white;
    font-weight: bolder;
    transition: .7s;
}

.producto__item p:before,
.producto__item p:after{
    content: "";
    position: absolute;
    width:40%;
    height:5px;
    /* background: #19a396; */
    background: #363682;
    transition: .7s;
}

.producto__item p:before{
    top:-10px;
    right:20%;
}
.producto__item p:after{
    bottom:-10px;
    left:20%;
}

.producto__item:hover p:before {
    width:100%;
}
.producto__item:hover p:after{
    width:100%;
}
.producto__item:hover p{
    background: rgba(0,0,0,0.9);
}






@media screen and (max-width:490px){
    .header{
        height: 420px;
    }
    .main{
        justify-content: center;
    }
    .main .services{
        width:400px;
        height:220px;
        padding: 0 10px; 
    }

    .header .slogan h1{
        font-size: 1.5em;
    }
    .main .welcome p{
        width:85%;
        font-size: 1.1em;
    }
    .main .servicios .services {
        height: auto;
    }
    .main .servicios .services .icon{
        font-size: 20px;        
        margin: 10px auto;        
    }
    .main .servicios .services h3{
        text-align: center;        
    }
    
    .main .servicios .services .segp{
        margin:10px auto;
        padding:5px 20px;
        font-size: 0.8em;

    }

.producto__item{
    width:100%;
}

.producto__item img{
    height:250px;
} 
}



@media screen and (max-width:790px){
    .main{
        justify-content: center;
    }
    .slogan{
        width: 70%;
    }
    .main .servicios .services{
        width:90%;
        margin:10px auto;
    }
    /* .main .servicios {
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top:40px;
    } */
    .main .servicios .services .icon{
        font-size: 20px;        
        margin: 10px auto;        
    }
    .main .servicios .services h3{
        text-align: center;        
    }
    
    .main .servicios .services .segp{
        margin:10px auto;
        padding:0;
    }

    .footer {
        flex-wrap: wrap;
    }
    .footer .aboutFooter{
        display: none;
    }
    .footer>div{
    width: 80%;

    }
    .footer>div:nth-child(0n+3){
        width: 90%;
        margin-top:20px; 
        flex-wrap: wrap;
    }
    
    .contactoFooter >div{
        width:90%;
        margin:4px auto;
    }



.producto__item{
    width:100%;
    position: relative;
} 
}

