/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Exo+2|Indie+Flower|Josefin+Sans|Kalam|Lobster|Oxygen|Pacifico|Rajdhani|Satisfy&display=swap');

*{
    padding: 0;
    margin:0;
    
}