<!-- <h3  class="titleMenu">Soy {{titlee}} </h3> -->

<div class="menuPrin">
  <div class="nav">
          <div class="title">
              <h2><span class="capitalLeter">T</span>uris<span class="capitalLeter">T</span>eando</h2>
          </div>
              <span class="fa fa-reorder" id="menuTogle" (click)="abrir()"></span>    
          <ul class="menu">
              <li class="menu__item" routerLinkActive="active"><a  [routerLink]="['home']">HOME</a></li>
              <li class="menu__item" routerLinkActive="active"><a [routerLink]="['about']">NOSOTROS</a></li>
              <li class="menu__item" routerLinkActive="active"><a [routerLink]="['productos']">DESTINOS</a></li>
              <li class="menu__item" routerLinkActive="active"><a [routerLink]="['contacto']" href="#">CONTACTO</a></li>
          </ul>
      </div>
      
      <div class="menuLat" id="menuLat">
          <span class="fa fa-window-close cerrar" (click)="cerrar()"></span>
              <a [routerLink]="['home']">HOME</a>
              <a [routerLink]="['about']">NOSOTROS</a>
              <a [routerLink]="['productos']">DESTINOS</a>
              <a [routerLink]="['contacto']">CONTACTO</a>
      </div>
      
</div>


