
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gloria+Hallelujah|Indie+Flower|Lobster|Pacifico|Roboto+Slab|Satisfy');
*{
    padding:0;
    margin:0;
}
.menuPrin{
    width: 100%;
    position: relative;
}
.nav{
    width:100%;
    max-width:1380px;
    margin:0 auto;
    display: flex;
    /* background: rgb(2, 0, 0);   */
    background: #fff;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-family: Do Hyeon;
}

.title{
    display: block;
    width:50%;
    color:black;
    padding:0px 0;
    margin-left:20px;
    font-size: 30px;
    text-align: center;
    font-family: Satisfy;
    font-weight: bolder;
    color: #0ea972;
    
}
.capitalLeter{
    display: inline-block;
    text-decoration: underline;
    color: #eca117;
}


.menu{
    display: flex;
    justify-content: center;  
    /* background: rgb(2, 0, 0);   */
    background: #fff;
    padding:10px 0;
    width:50%;
    
}

.menu__item{
    list-style: none;
    padding: 4px 15px;    
    box-sizing: border-box;
    transition: .4s;
    /* border-bottom: 4px solid rgb(0, 123, 255); */
    border-bottom: 4px solid white;
    margin:0px 6px;
    font-size: 0.8em;
    /* border-top: 4px solid #fff; */
    border-top: 4px solid rgba(123, 255, 255, 0);
}

.menu__item:hover{
    border-top: 4px solid #dc2f12;
    border-bottom: 4px solid #dc2f12;
   
}

.menu__item >a{
    display: block;
    color:#0c8195;
    text-decoration: none;
    /* font-weight: bolder; */
    /* background: yellow;
    margin:3px;
    padding: 15px; */
}

#menuTogle{
    color:#0c8195;
    
    display: block;
    font-size: 22px;
    position: absolute;
    right:10px;
    top:15px;
    cursor:pointer;
    display: none;
}
.active {
    /* border-bottom:4px solid rgb(130, 31, 20);    */
    border-bottom: 4px solid #dc2f12;
    border-top: 4px solid #dc2f12;
}
.menuLat{
    position: absolute;
    top:40px;
    right:-300px;
    width:300px;
    height:95vh;
    background: rgba(0,0,0,1);
    display: none;
    flex-direction: column;
    z-index: 100;
    justify-content: center;
    transition: .8s;
}
.menuLat >a{
    text-align: center;
    text-decoration: none;
    color:white;
    padding:15px;
    box-sizing: border-box;
    font-weight: bolder;
    transition: .6s;
    width:50%;
    margin:0 auto;
    border-bottom:2px solid white;
}

.menuLat a:hover{
    
    background: #0ea972;
}


.menuLat .cerrar{
    cursor: pointer;
    font-size: 1.8em;
    position: absolute;
    color:white;
    top:10px;
    right:15px;
}
@media  screen and (max-width:800px){
    .menu{
        display: none;
    }
    #menuTogle{
        display: block;
    }
}

@media screen and (max-width:400px){
    .menuLat{
        width:200px;
        height: 70vh;
    }
    .menuLat>a{
        font-size: 0.8em;
    }
    .title{
        font-size: 20px;
    }
}